.view-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .main-chart {
    width: 60%;
  }
  .left-chart, .right-chart {
    width: 20%;
    .sub-item {
      height: 50%;
    }
  }
}