.mts-app-wrap {
  min-height: 100%;
  width: 100%;
  min-width: 1000px;
  .mts-app-body {
    min-height: calc(100% - 64px - 64px);
    height: fit-content;
    background: whitesmoke;
  }
  .mts-footer {
    height: 64px;
  }
}