@import "../../../other/config/constant";

.mts-search-filter-container{
  padding: 32px;
  margin: 0 auto;
  .mts-search-filter-input {
    margin-bottom: 16px;
  }
  .ant-form-item {
    margin-bottom: 8px;
    .ant-form-item-label {
      text-align: center;
    }
    .mts-search-filter-radios {
      margin-left: 20px;
    }
    .mts-search-filter-date-picker {
      position: absolute;
      right: 0;
    }
  }
  .divider {
    margin: 4px;
  }
  .mts-search-filter-buttons-wrapper {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    .mts-search-filter-button {
      width: 150px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}