@import "../../other/config/constant";

.home-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .title {
    font-size: 40px;
    font-weight: bolder;
    color: $default-blue;
    position: absolute;
    opacity: 0.6;
    z-index: 2;
  }
}