@import "../../../utils/enums/constant.scss";

.mts-search-panel-container{
  padding: 32px;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
  .mts-search-panel-input {
    margin-bottom: 16px;
  }
  .ant-form-item {
    margin-bottom: 8px;
    .ant-form-item-label {
      text-align: center;
    }
    .mts-search-panel-radios {
      margin-left: 20px;
      .mts-search-panel-date-picker {
        width: 250px;
        position: absolute;
        margin-left: 8px;
        margin-top: -4px;
      }
    }
  }
  .divider {
    margin: 4px;
  }
  .mts-search-panel-buttons-wrapper {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    .mts-search-panel-button {
      width: 150px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}